$primary-color: #d3d3d3;
$table-text-color: #FFFFFF;
$day-color: #00FFFF;

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

body {
    background-color: $primary-color;
    font-family: Arial;
}

.stat {
    background: lightsteelblue;
}

.NoBreakH1 {
    font-size: xx-large;
    color: lightslategray;
}

.NoBreakH2 {
    font-size: x-large;
    color: #2aabd2;
}

.month {
    padding: 30px 25px;
    width: 100%;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: $primary-color;
    font-size: 20px;
    letter-spacing: 3px;
}

.month .title {
    text-align: center;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.table_head {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd000;
}

.table_head li {
    width: 13.6%;
    color: blue;
    text-align: center;
    font-size: 12px;
}

.table_field {
    padding: 10px 0;
    background: #e8e8e8;
    margin: 0;
    font-size: 12px;
}

.table_field li {
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: darkgrey;
}

.day {
    height: 100px;
    width: 14%;

}

.day_header {
    width: 14%;
}

.day_active {
    color: $table-text-color;
    background-color: $day-color;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
}

.workday {
    background-color: darkblue;
    color: $table-text-color;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;

}
