<h2>Task list</h2>
<div *ngIf="day">
  <div>
    <div>
      <!--<label>Required working minutes: <input value="{{day.requiredWorkMinutes}}" #reqMin /></label><br>-->
      <label>Minutes: <input value="{{day.minutes}}" #minutes /></label>
      <button (click)="modifyDay(minutes.value)">Modify</button>
    </div><br>
    <div>
      <label>Task id: <input #taskId /></label>
      <button (click)="addTask(taskId.value); taskId.value=''">Add</button>
    </div>
  </div>
  <div *ngFor="let t of day.tasks">
    <label (click)="onSelect(t)">
      {{t.taskId}}, {{t.comment}},
      <label *ngIf="t.startTime">{{t.startTime.hour}}:{{t.startTime.minute}}</label>-
      <label *ngIf="t.endTime">{{t.endTime.hour}}:{{t.endTime.minute}}</label>
    </label>
    <button (click)="deleteTask(t)">x</button>
  </div>
  <div *ngIf="selectedTask">
    Selected task: {{selectedTask.taskId}}<br>
    <label>Id: <input value="{{selectedTask.taskId}}" #id /></label><br>
    <label>Comment: <input value="{{selectedTask.comment}}" #comment /></label><br>
    <div *ngIf="selectedTask.startTime">
      <label>Start hour: <input value="{{selectedTask.startTime.hour}}" #startHour /></label><br>
      <label>Start minute: <input value="{{selectedTask.startTime.minute}}" #startMinute /></label><br>
    </div>
    <div *ngIf="selectedTask.endTime">
      <label>End hour: <input value="{{selectedTask.endTime.hour}}" #endHour /></label><br>
      <label>End minute: <input value="{{selectedTask.endTime.minute}}" #endMinute /></label><br>
    </div>
    <button (click)="modifyTask(id.value, comment.value, startHour.value, startMinute.value, endHour.value, endMinute.value)">Modify</button>
  </div>
  <my-daily-statistic [day]="day"></my-daily-statistic>
</div>
