<div *ngIf="day">
 <div>
    <my-daily-statistic [day]="day"></my-daily-statistic>
    <div>
      <label>Task id: <input #taskId /></label>
      <button (click)="addTask(taskId.value); taskId.value=''">Add</button>
    </div>
  </div>
  <table width = "100%" class = "hover"><tr><th>Task ID</th><th>Start time</th><th>End Time</th><th>Comment</th><th>Delete task</th></tr>
  <div *ngFor="let t of day.tasks">

    <tr>
      <label (click)="onSelect(t)">
      <td>{{t.taskId}}</td><td>
        </label>
      <label *ngIf="t.startTime">{{t.startTime.hour}}:{{t.startTime.minute}}</label></td><td>
      <label *ngIf="t.endTime">{{t.endTime.hour}}:{{t.endTime.minute}}</label></td><td>
      {{t.comment}}</td><td>
    <button (click)="deleteTask(t)">x</button></td></tr>
  </div>
</table>
  <div *ngIf="selectedTask">
    Selected task: {{selectedTask.taskId}}<br>
    <label>Task id: <input value="{{selectedTask.taskId}}" #taskId /></label><br>
    <label>Comment: <input value="{{selectedTask.comment}}" #comment /></label><br>
    <div *ngIf="selectedTask.startTime">
      <label>Start hour: <input value="{{selectedTask.startTime.hour}}" #startHour /></label><br>
      <label>Start minute: <input value="{{selectedTask.startTime.minute}}" #startMinute /></label><br>
      <div *ngIf="selectedTask.endTime">
        <label>End hour: <input value="{{selectedTask.endTime.hour}}" #endHour /></label><br>
        <label>End minute: <input value="{{selectedTask.endTime.minute}}" #endMinute /></label><br>
        <button (click)="modifyTask(taskId.value, comment.value, startHour.value, startMinute.value, endHour.value, endMinute.value)">Modify</button>
      </div>
      <div *ngIf="!selectedTask.endTime">
        <button (click)="modifyTask(taskId.value, comment.value, startHour.value, startMinute.value, '', '')">Modify</button>
      </div>
    </div>
  </div>

</div>
